[mysqld]
default_authentication_plugin=mysql_native_password
binlog_transaction_compression=ON
transaction-isolation = REPEATABLE-READ
log-error=/var/lib/mysql/error.log
innodb_status_output=ON
innodb_status_output_locks=ON
